---
import Card from "@components/Card.astro";
import Layout from "@layouts/Layout.astro";
import { css } from "@styled-system/css";
import { grid } from "@styled-system/patterns";

const solutions = [
  {
    title: "NFT Card Component",
    img: "/nft/image-equilibrium.jpg",
    tech: ["HTML", "CSS"],
    link: "./nft-card",
  },
];
---

<Layout title={"Página de retos"}>
  <main
    class={css({
      minHeight: "100vh",
      padding: "4",
      position: "relative",
      width: "80%",
      margin: "0 auto",
    })}
  >
    <header class={css({ marginBottom: "8" })}>
      <h1
        class={css({ fontSize: "6xl", fontWeight: "bold", color: "primary" })}
      >
        Frontend Mentor Solutions
      </h1>

    </header>
    <section
      class={grid({
        columns: {
          sm: 1,
          md: 2,
          lg: 2,
          xl: 3,
        },
        gap: "4",
      })}
    >
      {
        solutions.map((solution) => (
          <Card
            title={solution.title}
            img={solution.img}
            tech={solution.tech}
            link={solution.link}
          />
        ))
      }
    </section>

    <!-- <h1></h1> -->

    <span class="attribution"
      >Challenges by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">
        Frontend Mentor
      </a>
    </span>
  </main>
</Layout>

<style>
  .attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
</style>
