---
import Cart from "@components/pages/shoping-cart/Cart";
import Products from "@components/pages/shoping-cart/Products";
import Layout from "@layouts/Layout.astro";
import { main } from "@styles/cart";
---

<Layout title={"Product list with cart"}>
  <main class={main}>
    <Products client:only="react" />
    <Cart client:only="react" />
  </main>

</Layout>
